.backdrop {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

form#login {
  position: fixed;
  top: 3em;
  right: 1em;
  background: var(--primary);
  border-radius: 18px;
  padding: 1em;
  width: 300px;
  z-index: 50;
  overflow: hidden;

  box-shadow: 1.4px 1.4px 2.2px rgba(0, 0, 0, 0.02),
    3.3px 3.3px 5.3px rgba(0, 0, 0, 0.028),
    6.3px 6.3px 10px rgba(0, 0, 0, 0.035),
    11.2px 11.2px 17.9px rgba(0, 0, 0, 0.042),
    20.9px 20.9px 33.4px rgba(0, 0, 0, 0.05), 50px 50px 80px rgba(0, 0, 0, 0.07);
}

form input {
  color: var(--secondary);
  width: calc(100% - 2.3em);
  height: 4em;
  padding-left: 2em;
  border-radius: 0;
  box-shadow: 1.4px 1.4px 2.2px rgba(0, 0, 0, 0.02),
    3.3px 3.3px 5.3px rgba(0, 0, 0, 0.028),
    6.3px 6.3px 10px rgba(0, 0, 0, 0.035),
    11.2px 11.2px 17.9px rgba(0, 0, 0, 0.042),
    20.9px 20.9px 33.4px rgba(0, 0, 0, 0.05), 50px 50px 80px rgba(0, 0, 0, 0.07);
  border: none;
  border-bottom: 1px solid #ccc;
  transition: all ease 0.4s;
}

form input:focus {
  background: var(--secondary);
  color: white;
  outline: none;
}

form input:first-of-type {
  border-radius: 8px 8px 0 0;
}

form input:last-of-type {
  border-radius: 0 0 8px 8px;
  margin-bottom: 1em;
  border-bottom: 0;
}

form input::placeholder {
  padding-left: 0;
  text-transform: uppercase;
  font-size: 8px;
  letter-spacing: 0.2em;
  transition: all ease 0.4s;
}
form input:focus::placeholder {
  color: white;
  padding-left: 2em;
}

form button {
  background: var(--secondary);
  font-size: 10px;
  align-self: center;
  padding: 1em 2em;
}

form button.secondary {
  background: unset;
  margin-left: 1em;
  border: 0 solid white;
  color: var(--secondary);
}

form button.secondary:hover {
  background: var(--primary2);
}

form button:focus,
form button:hover {
  color: var(--secondary);
  background: var(--primary2);
  outline: none;
}

form#login h5 {
  width: 100%;
  font-size: 10px;
  letter-spacing: 0.1em;
  margin-top: -0.3em;
  margin-bottom: 1em;
  text-align: center;
  color: var(--primary3);
}
