@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

:root {
  /* --primary: hsl(67, 0%, 57%); */
  --primary: hsl(67, 91%, 57%);
  --primary2: hsl(67, 90%, 44%);
  --primary3: hsl(67, 90%, 30%);
  --primary4: hsl(67, 90%, 20%);
  --nav: hsla(276, 4%, 23%, 0.4);
  --secondary: hsl(276, 4%, 23%);
  --secondary2: hsl(276, 4%, 28%);
  --secondary3: hsl(265, 4%, 36%);
  --secondary4: hsl(250, 4%, 44%);
  --secondary5: hsl(250, 4%, 60%);
  --accent: hsl(176, 100%, 50%);
  --bg: hsl(274, 49%, 90%);
  --white: rgb(232, 232, 232);
  --pale: hsla(0, 0%, 91%, 0.522);

  --space: 1em;
  --space2: 2em;
  --space3: 3em;
  --space4: 4rem;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Roboto", "Droid Sans", "Helvetica Neue", sans-serif;
  /* line-height: 1.4em; */
  letter-spacing: 0.01em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  /* Remove scroll bounce */
  overscroll-behavior: none;
}

h1 {
  font-size: 40px;
  font-weight: 300;
  letter-spacing: -0.03em;
}

h2 {
  font-size: 32px;
  font-weight: 300;
}

h3 {
  font-size: 28px;
  font-weight: 300;
}

h4 {
  font-size: 22px;
  font-weight: 300;
}

h5 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--pale);
  margin-top: 2em;
  margin-bottom: 0.6em;
}

p {
  font-size: 24px;
  line-height: 1.4em;
  letter-spacing: 0.01em;
  max-width: 62ch;
  width: 100%;
}
