.dashboard-bg {
  position: absolute;
  background: var(--secondary5);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.dashboard {
  position: absolute;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2em;
  top: 60px;
  width: 90%;
  left: 5%;
  min-height: calc(100vh - 130px);
  height: 100%;
}
