.hero {
  background: var(--primary);
  height: 80vh;
  display: flex;
  align-items: flex-end;
  margin-top: -5em;
  transform: skewY(6deg);
}

.hero .content {
  width: 80%;
  margin-top: 0;
  margin-bottom: var(--space4);
  transform: skewY(-6deg);
}

.hero .content span {
  position: relative;
  font-size: 12px;
  font-weight: 700;
  border-radius: 30px;
  padding: 8px 10px;
  margin: 0 -0.3em;
  color: var(--primary);
  background: var(--nav);
  bottom: 0.6em;
}

.hero h1 {
  width: 100%;
  max-width: 25ch;
  margin-top: 0;
  margin-left: 0;
  margin-right: auto;
  color: var(--nav);
}

.pattern {
  position: absolute;
  right: 5%;
  top: 10em;
  width: 32vw;
  height: 25em;
  background: url("../../../public/pattern.png");
  background-size: cover;
  z-index: 0;
  filter: invert(100%);
}

@media only screen and (max-width: 880px) {
  .pattern {
    display: none;
  }
}
