.hero {
  /* background: var(--primary); */
  background: var(--white);
  height: 75vh;
  display: flex;
  align-items: flex-end;
  /* padding: 0 2em; */
  margin-top: -5em;
  transform: skewY(6deg);
}

.hero-content {
  position: relative;
  max-width: 80ch;
  width: 100%;
  margin-top: 0;
  margin-right: 2em;
  right: 10%;
  left: 10%;
  padding-bottom: 100px;
  transform: skewY(-6deg);
}

.hero-content span {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.02em;
  border-radius: 30px;
  padding: 8px 16px;
  margin: 0 -0.05em;
  color: var(--white);
  background: var(--secondary);
  bottom: 0.7em;
}

.hero h1 {
  max-width: 22ch;
  width: 100%;
  margin-top: 0;
  margin-left: 0;
  margin-right: auto;
  color: var(--nav);
}

.hero h1 strong {
  color: var(--secondary);
}

span.acronym {
  position: relative;
  background: var(--secondary5);
  font-size: 9px;
  padding: 2px 6px;
  margin-right: -1.4em;
  margin-left: -14px;
  bottom: 3.3em;
}

.pattern {
  position: absolute;
  right: 10%;
  top: 10em;
  width: 32vw;
  height: 25em;
  background: url("../../../public/pattern.png");
  background-size: cover;
  z-index: 0;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.06),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.08),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.01),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.012),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.014),
    100px 100px 80px rgba(0, 0, 0, 0.03);
  /* filter: drop-shadow(16px 16px 20px) invert(30%); */
  filter: invert(30%);
  transform: skewY(-6deg);
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 28px;
  }
  .hero h1 {
    width: 100%;
    max-width: 25ch;
  }
  .hero-content span {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    border-radius: 30px;
    padding: 8px 16px;
    margin: 0 0.1em;
    bottom: 0.3em;
  }
  .pattern {
    display: none;
  }
  span.acronym {
    position: relative;
    background: var(--secondary5);
    font-size: 9px;
    padding: 2px 6px;
    margin-right: -1.4em;
    margin-left: -14px;
    bottom: 2.6em;
  }
}
